/*css for contact.html*/

/*Content*/
.mainbox-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*
        använder sig av display flex för användning av flexbox tillsammans med align items center
        vilket centrerar elementen verticallt och flex-direction column får elementen 
        lägga sig i en lista/verticallt.
    */
    
    height: 500px;
}

.mainbox-contact-header {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    margin-top: 35px;
}

/*Form*/
.mainbox-contact-form input{
    width: 500px;
    height: 300px;
}

.mainbox-contact button {
    background-color: #0192d4;
    
    color: white;
    font-weight: 5px;
    text-decoration: none;

    border-radius: 5px;
    border: none;

    width: 500px;
    height: 25px;
    margin: 10px;
}