.mainbox-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    height: 500px;
}

.mainbox-contact-header {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    margin-top: 35px;
}

.mainbox-contact-form input{
    width: 500px;
    height: 300px;
}

.mainbox-contact button {
    background-color: #0192d4;
    
    color: white;
    font-weight: 5px;
    text-decoration: none;

    border-radius: 5px;
    border: none;

    width: 500px;
    height: 25px;
    margin: 10px;
}