body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.mainbox {
    flex: 1;
    max-width: 1140px;
    background-color: yellow;
    margin: auto;
    padding-left: 135px;
    padding-right: 135px;
}

/*Styling for navbar*/
.navbar {
    display: flex;
    background: red;
}

.navbar-item {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 50px;
    padding: 0;
    background-color: green;
}

.navbar-item + .navbar-item {
    margin-left: 2%;
}
.navbar-separator {
    width: 25%;
}

/*Styling for content*/
.mainbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainbox-content-header {
    background-color: blue;
    margin-top: 35px;
}

.mainbox-content-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: orange;
}

.mainbox-content-container-box img {
    height: 250px;
    flex: 0 32%;
    padding: 20px;
}

/*Styling for footer*/
.footer {
    width: 100%;
    height: 100px;

    display: flex;
    color: white;
    background-color: black;
    align-self: flex-end;
}
