body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2 !important
}

/*Styling for navbar*/
.navbar {
    display: flex;
    background: white;

    justify-content: center;
    align-items: center;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 50px;
    padding: 0;
    margin: 0;
    min-width: 23.3vh;
}

.navbar-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

.navbar-item p {
    color: black;
    font-size: 25px;
}
.navbar-item img {
    height: 70%;
    margin: 0;
    padding: 0;
}
/*
.navbar-item + .navbar-item {
    margin-left: 2%;
}
*/
.navbar-separator {
    /*max-width: 349px;*/
    width: 36vh;
}

.mainbox {
    flex: 1;
    /*max-width: 1140px;*/
    width: 55%;
    margin: auto;
    justify-content: center;

    padding-left: 135px;
    padding-right: 135px;
    
    /*background-color: yellow;*/
}

/*Styling for content*/
.mainbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainbox-content-header {
    margin: 0;
    margin-top: 35px;
    font-family: 'Work Sans', sans-serif;
    /*background-color: blue;*/
}

.mainbox-content-containers {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    width: 120%;
    max-width: 3300vh;
    padding-top: 0;
    /*background-color: orange;*/
}

.mainbox-content-container-box {
    background: white;
    padding: 10px;
    margin: 10px;
    height: 100%;
}

.mainbox-content-container-box-link {
    font-size: 15px;
}

.mainbox-content-container-box img {
    /*object-fit: cover;*/
    object-fit: scale-down;

    height: 70%; 
    width: 100%;
    /*old size for images was 350px*/
}

.mainbox-product {
    display:flex;
    justify-content: center;;
}

.mainbox-product-containers {
    display:flex;
    flex-wrap: wrap; /*for use with grid*/
    justify-content: space-between;
    width: 100%;
    /*flex grid layout is needed here*/
}

.mainbox-product-containers-box {
    /*background-color: black;*/
    /*for use with grid*/
    flex: 0 25%;

    /*End of grid stuff*/
    min-width: 0;
    max-width: 500px;
    padding: 10px 10px 20px 10px;
    margin: 10px;
    background-color: white;
}

.mainbox-product-containers-box img {
    width: 100%;
}
.mainbox-product-containers-box-title {
    margin-bottom: 300px;
}

.mainbox-product-containers-box-subtitle {
    color: grey;
    font-size: 12px;
}

.mainbox-product-containers-box-rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

.checked {
    color: orange;
}

.mainbox-product-containers-box p {
    padding: 0;
    margin: 0;
}

.mainbox-product-containers-box-price {
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.mainbox-product-containers-box-button {
    display: flex;
    justify-content: center;
    background-color: #0192d4;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.mainbox-product-containers-box-button a {
    text-decoration: none;
    color: white;
    font-weight: 5px;
}

/*Styling for footer*/
.footer {
    display: flex;

    width: 100%;
    height: 200px;
    background-color: #d2d2d2;
    
    color: black;
    font-weight: bold;
    
    align-self: flex-end;
}
