body {
    margin: 0;
}

/*Styling for navbar*/
.mainbox-navbar {
    display: flex;
    background: red;
}
.mainbox-navbar-item {
    flex-grow: 1;
    height: 50px;
    background-color: green;
}
.mainbox-navbar-item + .mainbox-navbar-item {
    margin-left: 2%;
}

/*Styling for content*/
.mainbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainbox-content-header {
    background-color: blue;
    margin-top: 35px;
}

.mainbox-content-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mainbox-content-container-box img {
    height: 250px;
    flex: 0 32%;
    padding: 20px;
}

/*Styling for footer*/
.mainbox-footer {
    width: 100%;
    height: 100px;

    display: flex;
    color: white;
    background-color: black;
    align-self: flex-end;
}
